replicaCount: 2
image:
  repository: 850995567750.dkr.ecr.us-east-1.amazonaws.com/appointment-app
  tag: latest

service:
  type: LoadBalancer
  port: 80

ingress:
  enabled: false

mail:
  service: "gmail"
  user: "${{ secrets.MAIL_USER }}"
  pass: "${{ secrets.MAIL_PASS }}"
  to: "${{ secrets.MAIL_TO }}"

mongodb:
  enabled: true
  auth:
    rootPassword: "appointmentAppRoot"
    username: "appointmentApp"
    password: "appointmentAppPass"
    database: "appointments"

prometheus:
  enabled: true
  serviceMonitor:
    enabled: true

grafana:
  enabled: true
  adminPassword: "admin"
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: "default"
          orgId: 1
          folder: ""
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
  dashboardsConfigMaps:
    - configMapName: appointment-app-dashboard
      fileName: appointment-dashboard.json
